@font-face {
    font-family: "DotaFont";
    src: url("fonts/Reaver-Bold.woff");
}

@font-face {
    font-family: "DotaFont2";
    src: url("fonts/Reaver-SemiBold.woff");
}

:root {
    --primary-color: #e5e5e5;
    --secondary-color: #121212;
    --accent-color: #ff0000;
    --font-family: "DotaFont", sans-serif;
    --font-family-2: "DotaFont2", sans-serif;
    --container-max-width: 1100px;
    --background: url(images/dota2_preview.jpeg.webp);
    --block-background: url(images/seamless-pattern-carbon-weave-texture-260nw-1229331478.png);
}

.page-shell {
    display: flex;
    flex-direction: column;
    min-width: min(var(--container-max-width, 100%), calc(100% - 3rem));
    margin: 1rem auto;
}

* {
  box-sizing: border-box;
}


header {
    display: flex;
    font-size: x-large;
}
header .logo {
    margin-left: 3%;
    display: inline-block;
    width: 100px;
    height: 100px;

}


.navbar {
    color: #e5e5e5;
    display: block;
    position: sticky;
    top: 16px;
    
}

.navbar a{
    display: block;
    color : #e5e5e5;
    text-align: center;
    font-size: large;
    padding-block: 10px;
}

.navbar a:hover {
    transition: all 0.3s ease-in-out;
    scale: 1.05;
}


aside {
    text-align: center;
    position: sticky;
    width: 220px;
    margin-right: 10px;
    padding: 10px;
    position: sticky;
    top: 16px;

}

aside::before {
    content:"";
    position: absolute;
    display: block;
    background-image: var(--block-background);
    background-repeat: repeat;
    inset: 0;
    opacity: 0.85;
    z-index: -1;
}

main {
    flex: 1;
    padding: 10px;
    position: relative;

}


main::before {
    content:"";
    position: absolute;
    display: block;
    background-image: var(--block-background);
    background-repeat: repeat;
    inset: 0;
    opacity: 0.85;
    z-index: -1;
}

.container {
    display: flex;
    align-items: stretch;
}

body { 
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #e5e5e5;
    background-image: var(--background);
    background-size: cover;
    background-position: center top;
    font-family: var(--font-family);
    margin: 0;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

footer {
    display: block;
    text-align: center;
}


#dota2-map {
    max-width: 100%;
    display: block;
    height: auto;
}
.map-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


.hero-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.hero-card {
    max-width: 150px;
    background-color: rgba(18, 18, 18, 0.85);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.hero-card:hover {
    background-color: rgba(90, 255, 40, 0.95);
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    box-shadow: ;
}
.hero-discription {
    font-family: var(--font-family-2);
}

hero-name {
    font-family: var(--font-family-2);
}

.tenor-gif-embed {
    width: 100%;
    margin: 0 auto;
}

.esports-table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

td:hover ,th:hover{
    scale: 1.05;
    background-color: rgba(255, 69, 0, 0.60);
    background-blend-mode:difference;
    box-shadow: 0 0 10px #2bff00
}


.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.item-card {
    max-width: 150px;
    background-color: rgba(18, 18, 18, 0.85);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.item-image img {
    max-width: 100%;
    height: auto;
}

.item-card:hover {
    background-color: rgba(90, 255, 40, 0.95);
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #2bff00
}

.item-discription {
    visibility: hidden;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    display: flex;
}

.item-card:hover .item-discription {
        visibility: visible;
        background-color: rgba(104, 104, 104, 0.85);
}

